beautifulsoup4==4.12.2
certifi==2023.11.17
charset-normalizer==3.3.2
comtypes==1.2.1
idna==3.6
pyttsx3==2.90
requests==2.31.0
soupsieve==2.5
SpeechRecognition==3.10.1
typing_extensions==4.9.0
urllib3==2.1.0
wikipedia==1.4.0
